@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

  /* 🔤 FONTS */


@theme {

  /* FONTS */
  --font-defa: "Poppins", "Urbanist", "Montserrat", "Roboto", system-ui, sans-serif;
  --font-heading: "Merriweather", serif;
  --font-sans: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;


  /* COLORS */
  --color-primary-50:  #f1fcfa;
  --color-primary-100: #cff8ef;
  --color-primary-200: #9ff0e1;
  --color-primary-300: #67e1cf;
  --color-primary-400: #32b9a9; /* primaryShade: 4 */
  --color-primary-500: #1fad9f;
  --color-primary-600: #168b82;
  --color-primary-700: #166f69;
  --color-primary-800: #165955;
  --color-primary-900: #174a47;
  --color-primary-950: #072c2b;

  --color-neutral-50:  #f6f6f6;
  --color-neutral-100: #e7e7e7;
  --color-neutral-200: #d1d1d1;
  --color-neutral-300: #b0b0b0;
  --color-neutral-400: #888888;
  --color-neutral-500: #6d6d6d;
  --color-neutral-600: #5d5d5d;
  --color-neutral-700: #4f4f4f;
  --color-neutral-800: #454545;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #000000;
}


:root {
  --color-dark: #212529;
  --color-light: #F0F3FB;
}

.bg-dark {
  background-color: var(--color-dark);
}

.text-dark {
  color: var(--color-dark);
}

.bg-light {
  background-color: var(--color-light);
}

.text-light {
  color: var(--color-light);
}

:root{
  background-color: rgb(94, 108, 126);
}